<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Test</title>
</head>
<body>
<table>
    <tr>
        <th>
            <p>Jpeg</p>
            <img src="jpg.jpg" alt="Jpeg image" width="250" height="200"/>
        </th>
        <th>
            <p>PNG</p>
            <img src="png.png" alt="png image" width="250" height="200"/>
        </th>
    </tr>
    <tr>
        <th>
            <p>Gif</p>
            <img src="gif.gif" alt="gif image" width="250" height="200"/>
        </th>
        <th>
            <p>Webp</p>
            <img src="webp.webp" alt="Webp image" width="250" height="200"/>
        </th>
    </tr>
</table>
</body>
</html>